h1{
    background-color: rgb(0, 238, 255);   
   font-size: (50px);
   border-style: solid;
   text-shadow: 5px 5px #7d4a6e;
   }
   
   body{
    background-color: rgb(13, 255, 223);   
   font-size: 100px;
   border-style: solid;
   text-shadow: 5px 5px #7d4a6e;
   border: 10px dotted black;
   padding: 15px;
   background: #7d4a6e;
   background-clip: content-box;
   font-style: italic;
   }
   
   p{background-color:rgb(0, 238, 255);   
   border-style: solid;
   border-style: double;
   font-style: italic;
   }   
   
    iframe{
        border-color: rgb(9, 6, 6);
    }
   
    ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
       overflow: hidden;
       background-color: #333;
     }
     
     li {
       float: left;
     }
     
     li a {
       display: block;
       color: white;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
     }
     
     /* Change the link color to #111 (black) on hover */
     li a:hover {
       background-color:rgb(0, 153, 255) (17, 17, 17);
     
     }   